head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= titlePage
    //- FAVICON
    link(href="assets/images/favicon.png", rel="shortcut", type="image/png")
    //- ESTILOS
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    //- if type=="project"
        //- FAVICON
        //- link(href="../assets/images/favicon.png", rel="shortcut", type="image/png")
        //- link(rel="stylesheet", href="../styles/main.css")
    //- else
        //- FAVICON
    link(href="assets/images/favicon.png", rel="shortcut", type="image/png")
    link(rel="stylesheet", href="styles/main.css")
        