if page=="Home"
	include ../../contents/home/cont-home.pug
else if page=="About"
	include ../../contents/about/cont-about.pug
//----------------------------------CON SECCION ARTICLES
else if page=="Articles"
	include ../../contents/articles/cont-articles.pug
//----------------------------------CON SECCION ARTICLES
else if page=="Contact"
	include ../../contents/contact/cont-contact.pug
//- else if type=="project"
	//- include ../../contents/project/cont-project.pug
else if page=="Projects"
	include ../../contents/projects/cont-projects.pug