main.animated.fadeIn.delay-3s

    section.secHome

        article.content-row
            div
                img.img-perfil(src="assets/images/imgGit150.png", alt="imagen", srcset="")
            div.content-col
                h3= authorWeb
                p.text-center
                    span.text-right
                        a(href="https://github.com/ITLuisMC",target="blank")
                            i.fab.fa-github
                            | 
                    span.text-right
                        a(href="https://www.linkedin.com/in/itluismc",target="blank")
                            i.fab.fa-linkedin-in
                            | 

        article.content-row-center
            ul.lists.content-row
                li
                    p
                        a(href="/about.html") About
                li
                    p
                        a(href="/projects.html") Projects
                //----------------------------------CON SECCION ARTICLES
                //-li
                    p
                        a(href="/articles.html") Articles
                //----------------------------------CON SECCION ARTICLES
                li
                    p
                        a(href="/contact.html") Contact