main.main.animated.fadeIn.delay-1s
    include ../../shared/aside/aside.pug
    section
        article#blogIni.article
            h2= titlePage
            br
            p En esta sección encontraras distintos artículos posteados en mi blog personal.
            br
            p Son renderizados dinámicamente utilizando la api de wordpress.com.
            br
            p Por lo que si prefieres visitar directamente el blog, dirígete al siguiente
                | 
                a(href="https://itluismc.wordpress.com/", target="_blank") enlace

        article.article.articles
            article#latest-arts.clOculto