//----------------------------------CON SECCION ARTICLES
//-- var pages = ["home","about","articles","projects","contact"];
//----------------------------------CON SECCION ARTICLES
- var pages = ["home","about","projects","contact"];
nav#idUno.nav-bottom.nav-button-res.animated.fadeIn.delay-1s
	button.but.but-nav(title="settings")
		i.material-icons(title="settings") settings
//-MENUs
nav#idDos.nav-medium.nav-button-res.animated.fadeIn.delay-1s
	button.but.but-nav(title="menu")
		i.material-icons(title="menu") menu
	
