div#settings.clSettings.clSettLeft.absolute-bottom
	ul.lists.text-left
		li
			span hand
			| 
			button.but.but-setts(title="left") Left
			span  | 
			button.but.but-setts.but-active(title="right") Right