nav#nav-resp.clOculto.clMenu.animated.fadeIn.faster
	article

		span.spanNav
			i.fa.fa-times

		ul#menu.lists.text-center.clOculto
			each val in pages
				li
					if ruta=="/"+val+".html" || subFolder==val
						a.links.link-act(href="/"+val+".html")=val
					else
						a.links(href="/"+val+".html")=val

		ul#settings.clOculto.clSettings.clSettLeft.lists.text-left
			li
				span hand
				| 
				button.but.but-setts-hand(title="left") Left
				span  | 
				button.but.but-setts-hand.but-active(title="right") Right