- var pages = ["home","about","articles","projects","contact"];
//- SOLUCIONAR MANTENER LA ELECCION DE SETTINGS ENTRE PAGINAS USANDO LOCALSTORAGE
nav.nav-responsive
    //-DESCOMENTAR PARA MENU SETTINGS
    article#idUno.order1
        button.but.but-nav(title="settings")
            i.material-icons(title="settings") settings
        div#settings.clSettings.clSettLeft.absolute-bottom
            ul.lists.text-left
                li
                    span hand
                    | 
                    button.but.but-setts(title="left") Left
                    span  | 
                    button.but.but-setts.but-active(title="right") Right
    //-MENUs
    article#idDos.order3
        button.but.but-nav(title="menu")
            i.material-icons(title="menu") menu
        div#menu.clMenu.clMenuRight.absolute-bottom
            ul.lists.text-right
                each val in pages
                    li
                        if ruta=="/"+val+".html" || subFolder==val
                            a.links.link-act(href="/"+val+".html")=val
                        else
                            a.links(href="/"+val+".html")=val
    article.order2
        h4 &copy;
            | 
            a.links(href="https://www.luismc.es",target="_blank") LuisMC
            | 
            span#spanDate