if page=="Home"
    footer.animated.fadeIn.delay-2s
        article
            h4 &copy;
                | 
                a.links(href="https://www.luismc.es",target="_blank") LuisMC
                | 
                span#spanDate
else
    footer
        article
            h4 &copy;
                | 
                a.links(href="https://www.luismc.es",target="_blank") LuisMC
                | 
                span#spanDate