doctype html
html(lang="es")
    //- VAR PUG BEGIN
    - var page = "Home";
    - var titlePage = "Welcome!";
    //-- var authorWeb = "LuisMC";
    - var ruta = "/home.html";
    //- VAR PUG END
    //- HEAD BEGIN
    include components/shared/head/head.pug
    //- HEAD END
    //- BODY BEGIN
    include components/shared/body/body.pug
    //- BODY END