doctype html
html(lang="es")
    //- VAR PUG BEGIN
    - var page = "Projects";
    - var titlePage = "Projects";
    - var authorWeb = "LuisMC";
    - var ruta = "/projects.html";
    //- VAR PUG END
    //- HEAD BEGIN
    include components/shared/head/head.pug
    //- HEAD END    
    //- BODY BEGIN
    include components/shared/body/body.pug
    //- BODY END