.carousel-indicators {
    bottom: 0;
    position: relative;
    right: 0;
}

.carousel-indicators li {
    background-color: #1e1e1e;
    ;
}

.carousel-indicators .active {
    background-color: #0078ff;
}

pre {
    border: 1px black solid;
    padding: 1em;
    background-color: #212529;
    color: #17a2b8;
}

.intro {
    color: #4e4e4e;
}

.miFooter {
    margin-top: 1rem;
    text-align: center;
}

.socials {
    padding: 0 0;
    margin-bottom: 1rem;
}

.miButton a {
    color: aliceblue;
}

.cobertura {
    background-image: linear-gradient(rgba(0, 120, 255, .5), rgba(0, 120, 255, .5)), url("/assets/img/F73.jpg");
}

.introPages {
    height: 0vh;
}