main.main.animated.fadeIn.delay-1s
    section
        article.article
            img.img-left(src="assets/images/imgGit150.png", alt="", srcset="")
            h2= titlePage
            br
            p Soy es Luis Martínez, apasionado de la tecnología y la informática.
            br.clear
            p Desde los quince años he andado cacharreando con los ordenadores, desmontando, ensamblando y probando nuevas configuraciones constantemente.
            br
            p Luego empecé con redes y sistemas en gran parte gracias al movimiento del software libre.
            br
            p Ahora dedico mi tiempo a escribir mi propio codigo...
            br