.article-img, .art-projects img{
    padding: 0px 5px 0px 0px;
}

.article div ul li, .art-social div ul li{
    padding: 5px;
}

.art-social div, .art-projects{
    padding: 2em;
}

.list-buts li {
    padding: 2px;
}

.lists li, .but {
    padding: 4px;
}