body {
	font-family: 'Helvetica Neue', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: $primary-color;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}

/* h1,h2{
	font-size: 2em;
} */

h3 {
	font-size: 1.5em;
}

p, h4 {
	font-size: 1em;
}

header {
	span {
		color: $secondary-color;
		font-size: 1.5em;
		line-height: 1.5em;
	}
}

nav {
	.but-setts-hand{
		font-size: 1em;
	}
	#menu{
		font-size: 1.5em;
	}
	#settings {
		span{
			font-size: 1em;
		}
	}
	
}

#listAside button{
	font-size: 1em;
}

#subMenuCategories button{
	font-size: 0.80em;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.fab {
	font-size: 24px;
}
.material-icons {
	font-size: 24px;
}

.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}

