if page=='Home'
    body.bodyH
        //- HEADER BEGIN
        include ../header/header.pug
        //- HEADER END
        //- SECTION MAIN BEGIN
        include ../sections/sections.pug
        //- FOOTER BEGIN
        include ../footer/footer.pug
        //-SCRIPTS BEGIN
        script(src="https://kit.fontawesome.com/0d38bb6fd3.js")
        //- if type=="skill" || type=="article" || type=="project"
        //-     script(src="../scripts/main.js")
        //- else
        script(src="scripts/main.js")
        //- ETIQUETA PARA UTILIZAR SI JAVASCRIPT NO ACTIVADO
        //- FIXME aaÑADIR PAGINA ERRORS
        noscript
            h1 Comprobando si javascript está habilitado
            div(class="deshabilitado")
                img(src="images/error.png",alt="Javascript deshabilitado")
                p Javascript está deshabilitado en su navegador web.
                br
                p Por favor, para ver correctamente este sitio,
                br
                p
                    b
                        i habilite javascript.
                br
                br
                p Para ver las instrucciones para habilitar javascript
                br
                p en su navegador, haga click 
                    a.links(href="http://www.enable-javascript.com/es/",target="_blank") aquí.
else
    body.bodyF
        //- HEADER BEGIN
        include ../header/header.pug
        //- HEADER END
        //- NAV BEGIN
        include ../nav/nav-buttons-res.pug
        //- NAV END
        //- SECTION MAIN BEGIN
        include ../sections/sections.pug
        //- NAV BEGIN
        //- include ../nav/nav.pug
        //- NAV BEGIN
        include ../nav/nav-menu-res.pug
        //- NAV END
        //- FOOTER BEGIN
        include ../footer/footer.pug
        //-SCRIPTS BEGIN
        script(src="https://kit.fontawesome.com/0d38bb6fd3.js")
        //- if type=="skill" || type=="article" || type=="project"
        //-     script(src="../scripts/main.js")
        //- else
        script(src="scripts/main.js")
        //- ETIQUETA PARA UTILIZAR SI JAVASCRIPT NO ACTIVADO
        //- FIXME aaÑADIR PAGINA ERRORS
        noscript
            h1 Comprobando si javascript está habilitado
            div(class="deshabilitado")
                img(src="images/error.png",alt="Javascript deshabilitado")
                p Javascript está deshabilitado en su navegador web.
                br
                p Por favor, para ver correctamente este sitio,
                br
                p
                    b
                        i habilite javascript.
                br
                br
                p Para ver las instrucciones para habilitar javascript
                br
                p en su navegador, haga click 
                    a.links(href="http://www.enable-javascript.com/es/",target="_blank") aquí.