header {

	align-content: center;
	display: flex;
	flex-direction: column;	
	width: 100%;

	article {
		align-items: baseline;
		display: flex;
		justify-content: space-between;
		margin: 4px;
	}

	ul {
		flex-wrap: wrap;
		text-transform: capitalize;
	}
}

.fixed-top {
	top: 0;
	position: fixed;
}