.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3em;
    width: 75%;

    section {
        margin-bottom: 4em;
        width: 100%;

        .article {
            max-width: 900px;
            margin: 0 auto;
        }

        .articles {
            article {
                max-width: 450px;
                padding-top: 1em;
                padding-bottom: 1em;

                ul {
                    max-width: 200px;
                    padding-top: 0.5em;
                }
            }

        }

        .projects {
            h2 {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
            }
        }
    }

    .secHome {
        margin-top: 0em;
        margin-bottom: 0em;
    }

    margin: 0 auto;
}