.container {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.row {
    display: flex;
}
.content-col {
    display: flex;
    flex-direction: column;
}
.container-fluid {
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content-row-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content-row {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-row {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}
.content-col {
    align-content: space-around;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.absolute-bottom {
    bottom: 0;
    position: absolute;
    z-index: 2000;
}

.migasPan{
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
}